.header__lang-link_content_en {
  opacity: 1;
  transition: opacity 0.8s;
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
}

.header__lang-link_content_en:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__lang-link_content_en {
    font-size: 18px;
    line-height: 20px;
  }
}
