.lead {
  max-width: 77vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 90.6vw;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100vw;
  }
}
