.place__paragraph {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}

.place__paragraph:nth-of-type(2) {
  grid-row: 3;
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
  .place__paragraph:nth-of-type(2) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 600px) {
  .place__paragraph {
    margin: 22px 0 0 0;
    grid-column: 1;
    grid-row: 4;
  }
  .place__paragraph:nth-of-type(2) {
    margin-top: 25px;
    grid-column: 1;
    grid-row: 5;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 32px 16px 0 16px;
    grid-column: 1;
    grid-row: 4;
  }
  .place__paragraph:nth-of-type(2) {
    margin-top: 25px;
    grid-column: 1;
    grid-row: 5;
  }
}
